body {
  background-color: #000000 !important;
}

/* https://stackoverflow.com/questions/46059637/semantic-ui-react-fixed-sidebar */
.pushable:not(body) {
  transform: none;
}
.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
  z-index: 2;
  position: fixed;
}
.sidebar {
  padding-top: 55px;
}

.ui.inverted.top.fixed.menu {
  z-index: 3;
  background-image: linear-gradient(135deg, rgb(0, 155, 155) 0%, rgb(0, 0, 0) 35%, rgb(0, 0, 0) 65%, rgb(0, 155, 155) 100%) !important;
}

#sidebarToggle {
  padding-left: 35px;
  padding-right: 35px;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgbs(34,36,38,.15);
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

div {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.ui.segment.pushable {
  margin-top: 0 !important;
}

.alchemycol {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* MySelectInput */
div.MySelectInput .visible.menu.transition {
  max-height: 5em !important;
}

div.MySelectInput .ui.selection.dropdown {
  background: #222222 !important;
}

div.MySelectInput .ui.search.selection.dropdown {
  color: white !important;
}

div.MySelectInput .ui.search.dropdown>input.search {
  color: white !important;
}

div.MySelectInput .visible.menu.transition {
  background: #222222 !important;
}

div.MySelectInput .ui.selection.dropdown .menu>.item {
  border-top: 1px solid #333333;
}

div.MySelectInput .ui.dropdown .menu>.item {
  color: white !important
}